{{> navigation }}

<div class="title-main-quizz block">
    <p class="title is-2">Encuesta de seguimiento de egresados</p>
</div>

{{> message-info }}

<div class="quizz-main m-auto">
    <div class="box">
        {{!-- Checkbox--}}
        <div class="block">
            <label class="label">Actualmente vive en: <span class="span-req">*</span></label>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Ciudad de Durango
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    En otro municipio de Durango
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    En otro estado del país
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Fuera del país
                </label>
            </div>
        </div>
        <div class="block">
            <label class="label">Donde vive, ¿es su lugar de origen? <span class="span-req">*</span></label>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Si
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    No
                </label>
            </div>
        </div>
         <div class="block">
            <label class="label">¿Está titulado? <span class="span-req">*</span></label>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Si
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    No
                </label>
            </div>
        </div>
        <div class="block">
            <label class="label">Año en que tramitó su título: </label>
            <div class="select">
                <select>
                    <option>2021</option>
                    <option>2020</option>
                    <option>2019</option>
                    <option>2018</option>
                    <option>2017</option>
                    <option>2016</option>
                    <option>2015</option>
                    <option>2014</option>
                    <option>2013</option>
                    <option>2012</option>
                    <option>2011</option>
                    <option>2010</option>
                    <option>2009</option>
                    <option>2008</option>
                    <option>2007</option>
                    <option>2006</option>
                    <option>2005</option>
                </select>
            </div>
        </div>
        <div class="block">
            <label class="label">En caso de no haberse titulado señale la causa:</label>
            <div class="control">
                <label class="radio">
                    <input type="radio" name="answer">
                    Por no tener interés en ello
                </label>
            </div>
            <div class="control">
                <label class="radio">
                    <input type="radio" name="answer">
                    Por falta de tiempo
                </label>
            </div>
            <div class="control">
                <label class="radio">
                    <input type="radio" name="answer">
                    Por falta de información
                </label>
            </div>
            <div class="control">
                <label class="radio">
                    <input type="radio" name="answer">
                    Por problemas económicos
                </label>
            </div>
            <div class="control">
                <label class="radio">
                    <input type="radio" name="answer">
                    Está en trámite la titulación
                </label>
            </div>
            <div class="control ">
                <div class="field-is is-normal">
                    <label class="label">Otro:</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input is-purple" type="text" placeholder="respuesta">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="block">
            <label class="label">Una vez que concluyó su licenciatura, ¿realizó estudios de posgrado? <span
                    class="span-req">*</span></label>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Si
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    No
                </label>
            </div>
        </div>
        <div class="block">
            <label class="label">En caso de haber realizado estudios de posgrado, indique el estatus del mismo <span
                    class="span-req">*</span></label>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    En curso
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Concluido
                </label>
            </div>
        </div>
        <div class="block">
            <div class="field-is is-normal">
                <label class="label">Nombre del posgrado:</label>
            </div>
            <div class="field-body block">
                <div class="field">
                    <p class="control">
                        <input class="input is-purple" type="text" placeholder="respuesta">
                    </p>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="field-is is-normal">
                <label class="label">Institución en dónde lo realizó:</label>
            </div>
            <div class="field-body block">
                <div class="field">
                    <p class="control">
                        <input class="input is-purple" type="text" placeholder="respuesta">
                    </p>
                </div>
            </div>
        </div>
        <div class="block">
            <label class="label">Seleccione los tipos de actualización que ha tomado una vez que egresó de la
                licenciatura:</label>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Cursos en línea
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Cursos precenciales
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Diplomados
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Certificaciones
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Maestría
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Doctorado
                </label>
            </div>
        </div>
    </div>
    
    <div class="box">
        <div class="tags">
            <label class="label has-text-light">Trayectoria y Ubicación en el Mercado Laboral<span
                    class="forma"></span></label>
        </div>
        <div class="block">
            <label class="label">¿Tenía usted empleo al concluir sus estudios de licenciatura? <span
                    class="span-req">*</span></label>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Si
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    No
                </label>
            </div>
        </div>
        <div class="block">
            <label class="label">¿Se encuentra usted laborando actualmente?</label>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Si
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    No
                </label>
            </div>
        </div>
        {{!-- Módulo checkbox--}}
        <div class="block">
            <label class="label">¿Qué te motiva a estudiar Ingeniería en Software?</label>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    He enviado CV a empresas pero no he recibido respuesta
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    No me interesa trabajar en algo relacionado a mi profeción
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    No he encontrado una oportunidad laboral que me convenza
                </label>
            </div>
            <div class="control ">
                <div class="field-is is-normal">
                    <label class="label">Otro:</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input is-purple" type="text" placeholder="respuesta">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="field-is is-normal">
                <label class="label">En caso de encontrarse trabajando actualmente indique el nombre de la empresa:
                </label>
            </div>
            <div class="field-body block">
                <div class="field">
                    <p class="control">
                        <input class="input is-purple" type="text" placeholder="respuesta">
                    </p>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="field-is is-normal">
                <label class="label">Puesto que ocupa: </label>
            </div>
            <div class="field-body block">
                <div class="field">
                    <p class="control">
                        <input class="input is-purple" type="text" placeholder="respuesta">
                    </p>
                </div>
            </div>
        </div>
        <div class="block">
            <label class="label">¿El trabajo que desempeña actualmente se relaciona con su profesión?
            </label>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Si
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    No
                </label>
            </div>
        </div>
        <div class="block">
            <label class="label">En caso de trabajar en un perfil diferente al de su licenciatura, ¿cuáles son las
                causas?
            </label>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Falta de habilidad y destrezas propias
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Falta de interés por trabajar en su área
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Conocimientos insuficientes
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Conocimientos obsoletos
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Falta de experiencia
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Dificultad para aplicar conocimientos adquiridos
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Falta de fuentes de empleo
                </label>
            </div>
            <div class="control ">
                <div class="field-is is-normal">
                    <label class="label">Otro:</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input is-purple" type="text" placeholder="respuesta">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="block">
            <label class="label">Usted trabaja:
            </label>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Dentro del estado de Durango
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Fuera del estado de Durango
                </label>
            </div>
        </div>
        <div class="block">
            <label class="label">1.- Selecciona las principales actividades que realizas o has realizado en tu puesto de trabajo.
            </label>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Planeo proyectos de software considerando estándares de calidad.
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Analizo requerimientos para automatizar y/u optimizar procesos en las organizaciones para el desarrollo y/o implementación 
                    de proyectos de software.
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Evalúo proyectos de software bajo estándares de calidad.
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Diseño proyectos de software para automatizar y optimizar procesos en las organizaciónes.
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Desarrollo actividades para la administraación de proyectos de software con estándares de calidad, para automatizar y
                    optimizar procesos en las organizaciones.
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Realizo actividades de actualización afines a mi formación profecional.
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Desarrollo software para empresas o instituciones.
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Participo en actividades académicas afines a mi formación profecional.
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Participo en actividades de investigación afines a mi formación profecional.
                </label>
            </div>
            <div class="section-check">
                <label class="checkbox">
                    <input type="checkbox">
                    Participo como socio o tengo mi propia empresa de desarrollo de software en donde se generan proyectos para la 
                    mejora organizacional.
                </label>
            </div>
            <div class="control ">
                <div class="field-is is-normal">
                    <label class="label">Otro:</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input is-purple" type="text" placeholder="respuesta">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- Botón de guardar encuesta--}}
    {{> button-save }}
</div>