{{> navigation }}

<main class="index">

    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Encuestas Universidad Politécnica de Durango</h1>
            <h3 class="mb-5">
                <em>Empieza contestando tus encuestas</em>
            </h3>
            <a href="/login" class="button btn-primary is-rounded">
                Empecemos
            </a>
        </div>
    </header>

</main>