{{> navigation }}

<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h1>Welcome {{user.username}}</h1>
                    <h4>{{user.email}}</h4>
                    <a href="/encuesta/encuesta-ingreso" class="button is-purple is-rounded m-4">
                        Enecuesta de Ingreso al Programa de Estudios de Ingeniería en Software
                    </a>
                    <a href="/encuesta/ficha-identificacion-alumnos" class="button is-purple is-rounded m-4">
                        Ficha De Identificación De Alumnos
                    </a>
                    <a href="/encuesta/estudio-socio-economico" class="button is-purple is-rounded m-4">
                        Estudio Socio - Económico
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>