:root {
    --main-color-massege-tittle: white;
    --main-bg-color-box: white;
    --main-span-color: #d93025;
}

/*Modulo de mensaje*/
.container-message {
    width: 50%;
}

.tags {
    color: #863f92;
    background-color: #863f92;
    padding: 10px 20px;
    margin-left: -20px;
    position: relative;
    width: 30%;
    box-shadow: 1px 1px 5px #000;
    -moz-box-shadow: 1px 1px 5px #000;
    -webkit-box-shadow: 1px 1px 5px #000;
}

.list-style li {
    list-style-type: disc;
    margin-left: 50px;
}

/*Titulo principal de las encuestas*/
.title-main-quizz {
    width: 50%;
    margin: auto;
    text-align: center;
}

/*Input*/
.field-is {
    padding-bottom: .6em;
}

.control .control-input:hover {
    border-bottom: 1px solid #863f92;
}

.control-input:focus {
    border-color: var(--main-bd-color);
}

/*Span*/
.span-req {
    color: var(--main-span-color);
}

/*Sección de preguntas*/
.quizz-main {
    width: 50%;
    max-width: 90vw;
}

/*Boxes*/
.box {
    background-color: var(--main-bg-color-box);
    box-shadow: none;
}


/*Botón*/
.btn-section .is-purple-quizz {
    align-content: center;
    margin-bottom: 13px;
}

.button.is-purple-quizz {
    background-color: var(--main-bg-color);
    color: var(--main-text-color-button);
    font-weight: bold;
    border: none;
    outline: none;
}

.button.is-purple-quizz:hover {
    background-color: rgb(124, 56, 136);
}

/*Código media*/
@media only screen and (max-width: 1024px) {
    .quizz-main {
        width: 600px;
    }
}

@media screen and (min-width: 769px), print{
    .field.is-horizontal {
        display: revert;
    }

    
}

@media only screen and (max-width: 769px) {
    .container-message {
        width: 90%;
    }
    .title-main-quizz {
        width: 90%;
        margin: auto;
        text-align: center;
    }
}