<div class="btn-section block">
    <label class="label">
        <p class="control">
            <button class="button is-purple-quizz-save ">
                Guardar
            </button>
        </p>
    </label>
</div>