<div class="block">
    <article class="message is-info is-small m-auto container-message">
        <div class="message-body">
            Se te solicita de la manera más atenta contestar el siguiente cuestionario bajo las siguientes
            consideraciones:
            <ul class="list-style">
                <li>La información proporcionada será de carácter estrictamente confidencial.</li>
                <li>El uso de esta información es para fines estadísticos.</li>
                <li>Para que el análisis estadístico tenga mayor confiabilidad es muy importante la veracidad de la
                    información recabada.</li>
                <li>Podrás modificar y/o actualizar tu información cuando sea necesario.</li>
            </ul>
        </div>
    </article>
</div>