<nav class="navbar bd-navbar block" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      {{!--  <img src="/images/logo-unipoli.jpg" >--}}
      <p>L O G O</p>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      
      {{#if user}}
        <a class="navbar-item">
          Documentation
        </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Encuestas
            </a>

            <div class="navbar-dropdown">
              <a href="/encuesta/encuesta-ingreso" class="navbar-item">
                Encuesta de ingreso
              </a>
              <a href="/encuesta/encuesta-egresados" class="navbar-item">
                Encuesta de egreso
              </a>
              <a href="/encuesta/estudio-socio-economico" class="navbar-item">
                Estudio socio economico
              </a>
              <a href="/encuesta/ficha-identificacion-alumnos" class="navbar-item">
                Ficha de identificación
              </a>
            </div>
          </div>
          
          <a href="/profile" class="navbar-item">
            Profile
          </a>
          <a href="/logout" class="navbar-item">
            Cerrar sesión
          </a>
      {{else}}
        <a href="/login" class="navbar-item">
          Iniciar sesión
        </a>
        <a href="/signup" class="navbar-item">
          Registrarse
        </a>
      {{/if}}
    </div>
  </div>
</nav>