<nav class="navbar block" role="navigation" aria-label="main navigation">
  <div class="navbar-brand ">
    <a class="navbar-item" href="#">
      {{!--  <img src="/images/logo-unipoli.jpg" >--}}
      <p>L O G O</p>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item">
        Inicio
      </a>

      <a class="navbar-item">
        Empleadores
      </a>

      {{!--<div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Encuestas
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Ficha de identificación de alumnos
          </a>
          <a class="navbar-item">
            Estudio sicio-económico
          </a>
          <a class="navbar-item">
            Encuesta de egresados
          </a>
        </div>
      </div>--}}
    </div>
    <div class="field navbar-section-profile">
      <p class="control has-icons-right">

      </p>
    </div>
  </div>
</nav>