<nav class="navbar bd-navbar block" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      {{!--  <img src="/images/logo-unipoli.jpg" >--}}
      <p>L O G O</p>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Documentation
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Encuestas
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Encuesta de ingreso
          </a>
          <a class="navbar-item">
            Encuesta de egreso
          </a>
          <a class="navbar-item">
            Estudio socio economico
          </a>
          <a class="navbar-item">
            Ficha de identificación
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>