<div class="section-login"> 
  <div class="container-login-left" id="particles-js"></div>
  <div class="container-login-right" id="container-right">
    <div class="section-register-clic">
      <p>¿No tienes una cuenta?<a href="/signup">Registrate</a></p>
    </div>
    <form action="/login" method="POST">
      <div class="container-login">
        <div class="field">
          <h1 class="label">Inicia sesión</h1>
        </div>
        <div class="field">
          <label class="label">Correo electrónico</label>
          <p class="control has-icons-left has-icons-right">
            <input class="input is-purple" type="email" placeholder="Ingresa tu correo electronico"/><span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
          </p>
        </div>
        <div class="field">
          <label class="label">Contraseña
            <p class="control has-icons-left">
              <input class="input is-purple" type="password" placeholder="Ingresa una contraseña"/><span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
            </p>
          </label>
        </div>
        <div class="field"><a class="hashtag" href="#">Olvidé mi contraseña</a></div>
        <div class="field">
          <label class="label"> 
            <p class="control">
              <button class="button is-purple is-rounded">
                Aceptar
              </button>
            </p>
          </label>
        </div>
      </div>
    </form>
  </div>
</div>