<nav class="navbar block" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            {{!--  <img src="/images/logo-unipoli.jpg" >--}}
            <p>L O G O</p>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-link">
                        <strong>Registrarse</strong>
                    </a>
                    <a class="button is-light">
                        Iniciar sesión
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="block main-box-card">
    <form class="box box-card-second m-auto">
        <div class="block">
            <lable class="label title is-3">Ingresa tu cuenta de correo electrónico</lable>
            <p>Te enviaremos un link a tu correo para que puedas recuperar tu cuenta</p>
        </div>
        <div class="block">
            <input class="input" type="email" name="email" placeholder="Correo electrónico">
        </div>
        <div class="field block">
            <label class="label">
                <p class="control">
                    <button class="button is-purple is-rounded">
                        Enviar
                    </button>
                </p>
            </label>
        </div>
        <button class="button is-rounded is-redounded-main">Cancelar</button>
    </form>
</div>
{{!-- {{> footer }} --}}
